<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>bg_home_gray.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{38,37}</string>
                <key>spriteSourceSize</key>
                <string>{38,37}</string>
                <key>textureRect</key>
                <string>{{631,37},{38,37}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bg_rank_common.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{20,17}</string>
                <key>spriteSourceSize</key>
                <string>{20,17}</string>
                <key>textureRect</key>
                <string>{{21,2},{20,17}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bg_rank_wd.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{16,16}</string>
                <key>spriteSourceSize</key>
                <string>{16,16}</string>
                <key>textureRect</key>
                <string>{{2,2},{16,16}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bg_zj.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{52,52}</string>
                <key>spriteSourceSize</key>
                <string>{52,52}</string>
                <key>textureRect</key>
                <string>{{122,78},{52,52}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>btn_common_re.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{65,65}</string>
                <key>spriteSourceSize</key>
                <string>{65,65}</string>
                <key>textureRect</key>
                <string>{{355,78},{65,65}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>btn_jt.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{58,50}</string>
                <key>spriteSourceSize</key>
                <string>{58,50}</string>
                <key>textureRect</key>
                <string>{{61,78},{58,50}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>btn_kstz.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{141,75}</string>
                <key>spriteSourceSize</key>
                <string>{141,75}</string>
                <key>textureRect</key>
                <string>{{665,78},{141,75}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>btn_wh.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{55,55}</string>
                <key>spriteSourceSize</key>
                <string>{55,55}</string>
                <key>textureRect</key>
                <string>{{177,78},{55,55}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>btn_xyzj.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{132,133}</string>
                <key>spriteSourceSize</key>
                <string>{132,133}</string>
                <key>textureRect</key>
                <string>{{398,167},{132,133}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gongxi.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{456,152}</string>
                <key>spriteSourceSize</key>
                <string>{456,152}</string>
                <key>textureRect</key>
                <string>{{533,167},{456,152}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>icon_boss.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{90,86}</string>
                <key>spriteSourceSize</key>
                <string>{90,86}</string>
                <key>textureRect</key>
                <string>{{2,167},{90,86}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>img_boss.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{191,199}</string>
                <key>spriteSourceSize</key>
                <string>{191,199}</string>
                <key>textureRect</key>
                <string>{{740,322},{191,199}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>img_boss_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{44,83}</string>
                <key>spriteSourceSize</key>
                <string>{44,83}</string>
                <key>textureRect</key>
                <string>{{809,78},{44,83}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>img_boss_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{56,86}</string>
                <key>spriteSourceSize</key>
                <string>{56,86}</string>
                <key>textureRect</key>
                <string>{{872,78},{56,86}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>img_boss_line.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{13,85}</string>
                <key>spriteSourceSize</key>
                <string>{13,85}</string>
                <key>textureRect</key>
                <string>{{856,78},{13,85}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>img_head.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{71,71}</string>
                <key>spriteSourceSize</key>
                <string>{71,71}</string>
                <key>textureRect</key>
                <string>{{591,78},{71,71}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>light_big_white.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{56,41}</string>
                <key>spriteSourceSize</key>
                <string>{56,41}</string>
                <key>textureRect</key>
                <string>{{2,78},{56,41}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>light_fire_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{120,156}</string>
                <key>spriteSourceSize</key>
                <string>{120,156}</string>
                <key>textureRect</key>
                <string>{{2,322},{120,156}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>light_fire_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{120,156}</string>
                <key>spriteSourceSize</key>
                <string>{120,156}</string>
                <key>textureRect</key>
                <string>{{248,322},{120,156}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>light_fire_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{120,156}</string>
                <key>spriteSourceSize</key>
                <string>{120,156}</string>
                <key>textureRect</key>
                <string>{{371,322},{120,156}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>light_fire_4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{120,156}</string>
                <key>spriteSourceSize</key>
                <string>{120,156}</string>
                <key>textureRect</key>
                <string>{{617,322},{120,156}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>light_fire_5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{120,156}</string>
                <key>spriteSourceSize</key>
                <string>{120,156}</string>
                <key>textureRect</key>
                <string>{{494,322},{120,156}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>light_fire_6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{120,156}</string>
                <key>spriteSourceSize</key>
                <string>{120,156}</string>
                <key>textureRect</key>
                <string>{{125,322},{120,156}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>nextstep.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{110,28}</string>
                <key>spriteSourceSize</key>
                <string>{110,28}</string>
                <key>textureRect</key>
                <string>{{547,2},{110,28}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>rank_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{53,69}</string>
                <key>spriteSourceSize</key>
                <string>{53,69}</string>
                <key>textureRect</key>
                <string>{{479,78},{53,69}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>rank_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{53,69}</string>
                <key>spriteSourceSize</key>
                <string>{53,69}</string>
                <key>textureRect</key>
                <string>{{535,78},{53,69}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>rank_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{53,69}</string>
                <key>spriteSourceSize</key>
                <string>{53,69}</string>
                <key>textureRect</key>
                <string>{{423,78},{53,69}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>reward.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{106,32}</string>
                <key>spriteSourceSize</key>
                <string>{106,32}</string>
                <key>textureRect</key>
                <string>{{697,2},{106,32}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>sunshine.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{117,55}</string>
                <key>spriteSourceSize</key>
                <string>{117,55}</string>
                <key>textureRect</key>
                <string>{{235,78},{117,55}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>text_ceng.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{34,32}</string>
                <key>spriteSourceSize</key>
                <string>{34,32}</string>
                <key>textureRect</key>
                <string>{{660,2},{34,32}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>text_cj.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{75,33}</string>
                <key>spriteSourceSize</key>
                <string>{75,33}</string>
                <key>textureRect</key>
                <string>{{553,37},{75,33}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>text_ghjs.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{77,23}</string>
                <key>spriteSourceSize</key>
                <string>{77,23}</string>
                <key>textureRect</key>
                <string>{{467,2},{77,23}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>text_jl.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{77,32}</string>
                <key>spriteSourceSize</key>
                <string>{77,32}</string>
                <key>textureRect</key>
                <string>{{2,37},{77,32}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>text_sjph.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{137,32}</string>
                <key>spriteSourceSize</key>
                <string>{137,32}</string>
                <key>textureRect</key>
                <string>{{806,2},{137,32}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>text_wdzj.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{255,38}</string>
                <key>spriteSourceSize</key>
                <string>{255,38}</string>
                <key>textureRect</key>
                <string>{{750,37},{255,38}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>text_wtz.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{98,23}</string>
                <key>spriteSourceSize</key>
                <string>{98,23}</string>
                <key>textureRect</key>
                <string>{{44,2},{98,23}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>text_ytz.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{98,23}</string>
                <key>spriteSourceSize</key>
                <string>{98,23}</string>
                <key>textureRect</key>
                <string>{{145,2},{98,23}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>tips_phb.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{218,23}</string>
                <key>spriteSourceSize</key>
                <string>{218,23}</string>
                <key>textureRect</key>
                <string>{{246,2},{218,23}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>title_boss.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{300,118}</string>
                <key>spriteSourceSize</key>
                <string>{300,118}</string>
                <key>textureRect</key>
                <string>{{95,167},{300,118}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>title_help.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{75,38}</string>
                <key>spriteSourceSize</key>
                <string>{75,38}</string>
                <key>textureRect</key>
                <string>{{672,37},{75,38}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>title_sjph.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{468,32}</string>
                <key>spriteSourceSize</key>
                <string>{468,32}</string>
                <key>textureRect</key>
                <string>{{82,37},{468,32}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>boss.png</string>
            <key>size</key>
            <string>{1007,523}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:28b56884980a4462bce85c65992c552b:58df4cfc0e4d2c38b4b01e95056a5c1b:130860349884e9db32a7002f801c74f9$</string>
            <key>textureFileName</key>
            <string>boss.png</string>
        </dict>
    </dict>
</plist>
